* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #F4989C;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}

h1 {
	color: #fff;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 1.4rem;
}

.wrapper {
  background-color: #333;
  padding: 4rem;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: 
    ". a a ."
    ". a a .";
  z-index: 999;
  position: fixed;
  bottom: 230px;
  left: 600px;
  display: none;
  border: 3px solid #fff;
}

#addBook {
	text-align: center;
	color: #fff;
	z-index: 999;
	grid-area: a;
	align-self: center;
	justify-self: center;
}

.delete, #newBook{
	padding: 1rem 2rem;
	font-size: 20px;
	border: none;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.read-true, .read-false {
	padding: 1rem 2rem;
	font-size: 20px;
	border: none;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.delete {
	background-color: #ff0000;
}

.read-true {
	background-color: #82c91e;
}

.read-false {
	background-color: #ff0000;
}

#add {
	background-color: #82c91e;
	padding: 0.5rem 1rem;
	font-size: 16px;
	border: none;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#newBook {
	background-color: #82c91e;
	margin: 1.2rem;
}

.hidden {
	display: none;
	z-index: 999;
}

#library {
	margin: 1.4rem;
	text-align: center;
}

table, td, th {
	background-color: #f4f4f4;
	border: 1px solid #333;
	border-collapse: collapse;
	padding: 1.8rem;
}
